<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="background-color: rgba(0,0,0,0.04); min-height:100%; color:#3a3a3a; width:100%!important; padding:0; display:block; margin:0; padding-top:50px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
    <div style="max-width:600px; display:block; margin:0 auto; padding: 40px 20px">
      <table width="100%" cellspacing="0">
        <thead>
          <tr>
            <td colspan="2">
              <div>
                <div style="background-image: url({{logo}}); background-repeat: no-repeat;  background-position: center top; height: 70px"></div>
              </div>
            </td>
          </tr>
        </thead>            
        <tbody style="text-align: center; background-color: #FFF">
          <tr>
            <td style="padding:18px;" colspan="2">
              <div>
                {{content  | safe }}
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th> 
              <div style="background-image: url({{logo}}); background-repeat: no-repeat;  background-position: center top; background-size: contain; height: 28px; width: 120px;"></div>
            </th>
            <th>
              <p style="font-size: 16px; font-weight: normal;"> {{footer}}</p>
            </th>
          </tr> 
        </tfoot>
      </table>
    </div>
  </body>
</html>